.selected-books{
    border-style: solid;
    padding:1rem;
}

.selected-books-header{
    text-align: center;
}

.generate-link{
    text-align: center;
}

.selected-books button.remove-all{
    padding: 0;
    text-decoration: none;
    float: right;
    font-size: 1.8rem;
    line-height: 1.5rem;
}